html {
	box-sizing: border-box;
	font-family: "Press Start 2P";
}

#input-task {
	font-size: 0.3em;
	width: 22em;
	font-family: "Press Start 2P";
	text-align: center;
}
::placeholder {
	font-family: "Press Start 2P";
}
h1 {
	font-size: 1.5em;
	font-weight: 200;
	text-align: center;
	margin-bottom: 2em;
}
h2 {
	font-size: 0.9em;
	text-align: center;
}
#main {
	display: flex;
	justify-content: center;
}

p {
	font-size: 0.45em;
	width: 15em;
}

li {
	width: 25em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
