html {
	box-sizing: border-box;
	font-family: "Press Start 2P";
}
h1 {
	font-size: 1.5em;
	font-weight: 200;
	text-align: center;
	margin-bottom: 2em;
}
h2 {
	font-size: 0.9em;
	text-align: center;
}
#main {
	display: flex;
	justify-content: center;
}
#input-task {
	font-size: 0.3em;
	width: 22em;
	height: 2.5em;
	font-family: "Press Start 2P";
	text-align: center;
	box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.06);
	border: 0;
	margin-right: 2em;
	color: rgb(63, 88, 17);
}
::placeholder {
	font-family: "Press Start 2P";
	color: rgb(63, 88, 17);
}
#newTask {
	font-size: 0.4em;
	color: rgb(63, 88, 17);
	font-family: "Press Start 2P";
	border-radius: 2em;
	border: 0.16em solid black;
}
p {
	font-size: 0.45em;
	width: 30em;
}
li {
	width: 16em;
	position: relative;
	left: 18%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: lightcoral;
}
